{% extends 'layout.html' %}

{% block content %}
<h1>{% block title %} Hotel Comparison Results {% endblock %}</h1>

<hr>
<br>

<center> <h3>  {{ pricecmp }} </h3>
</center>

<hr>


<div style="width: 100%;">
        <div style="width: 45%; height: 100px; float: left; background: white; text-align: center; border-radius: 25px;" >
          <h3>{{city1}}</h3>
      
      Average Price: {{firstHot1_price}}<br>
      Average Rating: {{firstHot1}}
      
        </div>
        <div style="margin-left: 50%; width: 45%; height: 100px;  background: white; text-align: center; border-radius: 25px;">
          <h3>{{city2}}</h3>
      
      Average Price: {{firstHot2_price}}<br>
      Average Rating: {{firstHot2}}
        </div>
  </div>


<hr>


 {% endblock %}
